{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}| Reciclando Conciencia</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'users/css/base_profile.css'%}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
</head>
<body>
    <header>
      

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'core/images/logo.png' %}" alt="Logo Reciclando Conciencia"/>
          <h1>Reciclando Conciencia</h1>
        </a>
        
        {% if user.is_authenticated %}
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="{% url 'profile' %}" class="nav-link btn">Perfil</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'activity_list' %}" class="nav-link btn">Actividades</a>
          </li>
          {% if user.role == 'admin' %}
            <li class="nav-item">
              <a href="{% url 'admin_dashboard' %}" class="nav-link btn">Admin Dashboard</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a href="{% url 'user_report_list' %}" class="nav-link btn">Reportes</a>
            </li>
          {% endif %}

            <li class="nav-item">
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="nav-link btn">Cerrar Sesión</button>
            </form>
            </li>
          {% else %}
            <li class="nav-item">
            <a href="{% url 'login' %}" class="nav-link btn">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
            <a href="{% url 'register' %}" class="nav-link btn">Crea tu cuenta</a>
            </li>
          {% endif %}

      </div>
    </nav>
  </header>
    {% block body %} {% endblock %}

      <footer>
        <h2>Contáctanos</h2>
    <p>¿Tienes preguntas, sugerencias o quieres colaborar con nosotros?</p>
    <p>¡Estaremos encantados de leerte!</p>
    <p>Escríbenos a: <a href="mailto:info@reciclandoconciencia.org" class="email-link">info@reciclandoconciencia.org</a></p>
    &copy; 2025 Reciclando Conciencia. Todos los derechos reservados.
  </footer>
</body>
</html>