# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env

# Django stuff
db.sqlite3
*.sqlite3

# Static & media
/staticfiles
/media

# IDE
.vscode/
.idea/
