{% extends 'core/base.html' %}
{% load static %}

{% block title %}Saber más{% endblock %}

{% block body %} 
<h2>Saber Más sobre el Reciclaje</h2>
    <p>El reciclaje forma parte de una estrategia global conocida como economía circular, cuyo objetivo es reducir al mínimo los residuos y reutilizar los recursos el mayor tiempo posible.</p>
    <p>Al comprender los tipos de materiales reciclables, sus ciclos de vida y el impacto de los residuos en el planeta, podemos tomar decisiones más responsables en nuestra vida cotidiana.</p>

{% endblock %}




