{% extends 'core/base.html' %}
{% load static %}

{% block title %}Consejos{% endblock %}

{% block body %}

 <h2>Consejos para Reciclar Mejor</h2>
    <ul>
      <li>Separa los residuos en secos y húmedos desde el origen.</li>
      <li>Lava los envases antes de colocarlos en el contenedor de reciclaje.</li>
      <li>No mezcles materiales reciclables con comida u otros residuos orgánicos.</li>
      <li>Infórmate sobre los materiales reciclables en tu comunidad.</li>
      <li>Reutiliza todo lo posible antes de desechar.</li>
    </ul>

{% endblock %}