{% extends 'base_profile.html' %}



{% load static %}


{% block title %}Tu perfil{% endblock %}

{% block body %}
<main class="profile-container">

  <section class="profile-header">
    <div class="profile-picture">
      {% if user.photo %}
        <img src="{{ user.photo.url }}" alt="Foto de perfil" class="profile-img">
      {% else %}
        <div class="profile-placeholder">
          <img src="{% static 'media/profile_photos/default_profile.jpg' %}" alt="Foto de perfil" class="profile-img">
        </div>
      {% endif %}
    </div>
    <div class="profile-info">
      <h2>¡Hola, {{ user.first_name }}! 👋</h2>
      <p class="profile-email">{{ user.email }}</p>
      <a href="{% url 'edit_profile' %}" class="btn">Editar Perfil</a>
    </div>
  </section>

  <section class="profile-details">
    <h3>Información personal</h3>
    <div class="profile-data-grid">
      <p><strong>Nombre:</strong> {{ user.first_name }} {{ user.last_name }}</p>
      <p><strong>Teléfono:</strong> {{ user.phone|default:"No registrado" }}</p>
      <p><strong>Documento:</strong> {{ user.document_number|default:"No registrado" }}</p>
      <p><strong>Fecha de nacimiento:</strong> {{ user.birth_date|date:"d/m/Y"|default:"No registrada" }}</p>
    </div>
  </section>

</main>
{% endblock %}
