{% extends 'base_profile.html' %}

{% block title %}Lista de usuarios {% endblock %}

{% block body %}

<main>
    <h2>Lista de usuarios</h2>
    {{ success }}
    <table>
        <thead>
            <tr>
                <th>Nombre de usuario</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.get_role_display }}</td>
                <td>
                    <a href="{% url 'admin_user_edit' user.id %}" class="btn">Editar</a> |
                    <form action="{% url 'admin_user_delete' user.pk %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button class="btn" type="submit" onclick="return confirm('¿Seguro que quieres eliminar a este usuario?');">
        Eliminar
    </button>
</form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No hay usuarios disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'user_list' %}" class="btn">Volver atrás</a>
{% endblock %}